body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

h1 {
    color: #a93d3d;
}

header {
    background: #333;
    color: #fff;
    padding: 15px 0;
}

.main-page-images {
    margin: 20px;
}

.main-page-images:hover {
    border-radius: 20px;
    border-style: ridge;
}

#pictures-conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li {
    color: #fff;
    text-decoration: none;
}

#hero {
    background: url('crossfit-bg.jpg') no-repeat center center/cover;
    color: rgb(217, 50, 50);
    padding: 1px 50px;
}

.btn {
    display: inline-block;
    background: #ff4500;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #4239ea;
}

section {
    padding: 10px 20px;
}

footer {
    background: #333;
    color: white;
    padding: 20px;
}

.navigator {
    color: rgb(214, 208, 198);
    font-size: large;
}

.highlight {
    color: rgb(184, 29, 29);
    font-size: large;
}

#class-from-db {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
}

.flexDiv {
    border: 2px blue solid;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    background-color: #a93d3d;
}

.joinUsClass {
    width: 150px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: inline-block;
}


/* Contact us CSS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #218838;
}